In [1]:
import os

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Vicky7873/data/refs/heads/main/Mobile%20phone%20price.csv")
df.head(2)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($)
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199

In [4]:
df.isna().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [5]:
df.isnull().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(26)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
dtypes: int64(1), object(7)
memory usage: 25.6+ KB

In [8]:
df.nunique()

Brand                      16
Model                     239
Storage                    13
RAM                        20
Screen Size (inches)       41
Camera (MP)               143
Battery Capacity (mAh)     48
Price ($)                  89
dtype: int64

In [9]:
df = df.rename(columns={'Price ($)':'price'})

In [10]:
df.head(2)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),price
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199

In [11]:
df = df.rename(columns={'Screen Size (inches)':'screen_size','Camera (MP)':'camera','Battery Capacity (mAh)':'battery'})

In [12]:
df.head(2)

,Brand,Model,Storage,RAM,screen_size,camera,battery,price
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199

In [13]:
# remove the special char from price column

In [14]:
df['price'].unique()

array(['999', '1199', '899', '279', '799', '249', '699', '329', '449',
       '199', '299', '379', '179', '729', '599', '139', '189', '399',
       '259', '159', '229', '499', '129', '529', '369', '1099', '169',
       '99', '459', '239', '1299', '429', '659', '269', '359', '$799 ',
       '$399 ', '$699 ', '$329 ', '$999 ', '$549 ', '$1,299 ', '$899 ',
       '$449 ', '$319 ', '$269 ', '$349 ', '$279 ', '$249 ', '$299 ',
       '$969 ', '$1,199 ', '$149 ', '$139 ', '$99 ', '$199 ', '$169 ',
       '$499 ', '$179 ', '$219 ', '$229 ', '$239 ', '$109 ', '$189 ',
       '$389 ', '$309 ', '$369 ', '$129 ', '$849 ', '$469 ', '$209 ',
       '$119 ', '$339 ', '$429 ', '$159 ', '$379 ', '$289 ', '130', '749',
       '149', '969', '649', '349', '419', '1399', '1999', '119', '319',
       '1049'], dtype=object)

In [15]:
df['price'] = df['price'].str.replace(r'\D', '', regex=True)

In [16]:
df['price'].unique()

array(['999', '1199', '899', '279', '799', '249', '699', '329', '449',
       '199', '299', '379', '179', '729', '599', '139', '189', '399',
       '259', '159', '229', '499', '129', '529', '369', '1099', '169',
       '99', '459', '239', '1299', '429', '659', '269', '359', '549',
       '319', '349', '969', '149', '219', '109', '389', '309', '849',
       '469', '209', '119', '339', '289', '130', '749', '649', '419',
       '1399', '1999', '1049'], dtype=object)

In [17]:
df.to_csv('a.csv')

In [18]:
df['price']=df['price'].astype('float')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        407 non-null    object
 1   Model        407 non-null    object
 2   Storage      407 non-null    object
 3   RAM          407 non-null    object
 4   screen_size  407 non-null    object
 5   camera       407 non-null    object
 6   battery      407 non-null    int64
 7   price        407 non-null    float64
dtypes: float64(1), int64(1), object(6)
memory usage: 25.6+ KB

In [20]:
df['price']=df['price'].multiply(84)

In [21]:
df.head(2)

,Brand,Model,Storage,RAM,screen_size,camera,battery,price
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,83916.0
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,100716.0

In [22]:
for col in df.columns:
    print(df[col].name,df[col].unique())

Brand ['Apple' 'Samsung' 'OnePlus' 'Xiaomi' 'Google' 'Oppo' 'Vivo' 'Realme'
 'Motorola' 'Nokia' 'Sony' 'LG' 'Asus' 'Blackberry' 'CAT' 'Huawei']
Model ['iPhone 13 Pro' 'Galaxy S21 Ultra' '9 Pro' 'Redmi Note 10 Pro' 'Pixel 6'
 'iPhone 13' 'Galaxy Z Flip3' 'Poco X3 Pro' 'Reno6 Pro+ 5G' 'X70 Pro+'
 'Nord CE 5G' 'Galaxy A52s 5G' 'GT Neo2' 'iPhone 12 Mini' 'Find X3 Pro'
 'Mi 11 Lite 5G NE' 'Galaxy S21' 'Y20s (G)' '8s 5G' 'A94' 'Redmi 10 Prime'
 'Galaxy A22 5G' 'Narzo 50 Pro 5G' '9' 'Redmi Note 10 Pro Max' 'iPhone 11'
 'Galaxy A03s' 'A74 5G' 'Y12s (2021)' '9i' 'Galaxy M52 5G' 'Redmi 10'
 'iPhone SE (2nd Gen)' 'A53s' 'Y33s' 'C25s' 'Galaxy A22 4G' 'Nord 2 5G'
 'Poco M3 Pro 5G' 'iPhone XR' 'A16' 'C21Y' 'Galaxy F22' 'F19 Pro+ 5G'
 'Mi 11X' 'V21e' '8 5G' 'Galaxy M12' 'A16s' 'Redmi 9 Power'
 'iPhone 11 Pro Max' 'Y20G' 'Narzo 50i' 'A54' 'Redmi 9T'
 'iPhone 13 Pro Max' 'Y33' 'Galaxy A72' 'Reno6 Pro 5G' 'iPhone SE (2020)'
 'Y53s' '7i' 'Galaxy A52 5G' 'F19 Pro' 'Redmi Note 10S' 'Y21s'
 'Mi 11 Lite 5G' 'X60 Pro' 'Narzo 50A' 'Nord 2' 'Poco X4 Pro'
 'GT Master Edition' 'Reno6 Pro+' 'Edge 20 Pro' 'XR20' 'Xperia 5 III'
 'Wing' 'Zenfone 8 Flip' 'KEY2 LE' 'F19 Pro+' 'Moto G60' '5.4' 'K92 5G'
 'Zenfone 8' 'KEY2' 'S42' 'Galaxy Z Flip 3' 'Mi 11 Ultra' 'Y12A'
 'C20 Plus' 'Galaxy S20 FE 5G' 'Moto E7i Power' 'ROG Phone 5' 'Velvet 5G'
 'Evolve' 'Reno 6 Pro+' 'Moto G50' 'G20' 'Galaxy M32' '8i' 'C30'
 'Galaxy A32' 'Moto G Stylus 5G' 'Galaxy A21s' 'Y12s' 'F19s'
 'Narzo 30 Pro 5G' 'Moto G Pure' 'Reno6 Z 5G' 'Galaxy S21 Ultra 5G' 'G50'
 'Redmi 9 Activ' 'A54s' 'Galaxy M22' 'Moto G Power 2022' 'Poco X3 GT'
 'Galaxy F42 5G' 'Edge 20 Fusion' 'C21' 'V21 5G' 'Redmi Note 9 Pro Max'
 'Moto G Power 2021' 'V21e 5G' 'A53s 5G' 'Mi 11 Lite NE'
 'Moto G Stylus 2021' 'A54s 5G' 'Galaxy F41' 'Galaxy M52' 'Moto G50s'
 'Galaxy A13' 'Galaxy A42 5G' 'Moto G9 Power Lite' 'Galaxy A22' 'A74'
 'Y72 5G' 'Mi 10i' 'Narzo 30 Pro' 'Galaxy M62' 'Galaxy A12' 'A15s'
 'C11 2021' 'Redmi 9i' 'A53' '7 5G' 'Galaxy M31s' 'A15' 'G10' 'C25' 'X20'
 'Y20s G' 'Reno 6 Pro 5G' 'Y31s' 'Galaxy A32 5G' 'Redmi Note 10' 'V20 SE'
 '3.4' 'C20' '1.4' 'Galaxy A02s' 'Y51A' 'Narzo 20' '5.3' 'Redmi Note 8'
 'Galaxy M11' 'Y20s' 'C11' '2.4' 'Redmi 9' 'Galaxy A11' 'A12' 'C15'
 '3.1 Plus' 'Redmi Note 7' 'A31' 'Y15' 'Narzo 10A' 'Galaxy A30s'
 'Galaxy Note 20 Ultra' 'Pixel 5' 'Mate 40 Pro' 'Nord N10 5G'
 'Reno 5 Pro 5G' 'Galaxy A71' '8.3 5G' 'Mi 11' 'Moto G Power (2021)'
 'Pixel 4a 5G' 'Nova 8 Pro 5G' 'Galaxy A52' '8T' 'G50 5G' 'Find X3 Neo 5G'
 'P40 Pro' 'Moto G Stylus (2021)' 'Pixel 4' 'iPhone 12' 'A94 5G'
 'Nova 9 Pro 5G' 'Galaxy S10 Lite' '8 Pro' '7.2' 'Mi 10T Pro'
 'Mate 30 Pro 5G' 'Galaxy M51' 'Reno4 Pro 5G' 'Moto G9 Plus'
 'iPhone XS Max' 'Redmi Note 9S' 'A92' 'P30 Pro' '7 Pro' '6.2'
 'Mi 10T Lite' 'iPhone 8 Plus' 'Moto G8 Power' 'Nova 7i' 'Galaxy S21+ 5G'
 'Mi 11 Lite' 'Nord' 'Moto G10' 'P40 Pro+' 'Galaxy Note20 5G' 'Poco M3'
 'Galaxy S20 Ultra 5G' 'iPhone 12 mini' 'Moto G9 Power'
 'Galaxy Z Fold2 5G' 'Mi 10T Pro 5G' 'Redmi 9C' 'Y7p' 'iPhone 12 Pro' '7'
 'A93' 'Moto G Pro' 'P30 Lite' 'Mi 10 Lite 5G' 'iPhone 12 Pro Max' 'Reno3']
Storage  ['128 GB' '256 GB' '64 GB' '32 GB' '128GB' '256GB' '64GB' '32GB' '256'
 '64' '128' '512' '32']
RAM  ['6 GB' '12 GB' '8 GB' '4 GB' '3 GB' '2 GB' '4GB' '8GB' '6GB' '12GB' '3GB'
 '2GB' '5GB' '12' '3' '6' '8' '4' '16' '2']
screen_size ['6.1' '6.8' '6.7' '6.67' '6.4' '6.55' '6.78' '6.43' '6.5' '6.62' '5.4'
 '6.2' '6.51' '6.6' '4.7' '6.58' '6.52' '6.44' '6.53' '6.56' '6.8 + 3.9'
 '4.5' '6.39' '5.9' '5.5' '6.81' '5.99' '6.82' '6.3' '6.22' '6' '6.35'
 '6.9' '6.76' '6.49' '6.72' '5.7' '6.47' '7.6 (unfolded)' '6.15' '6.57']
camera ['12 + 12 + 12' '108 + 10 + 10 + 12' '48 + 50 + 8 + 2' '64 + 8 + 5 + 2'
 '50 + 12.2' '12 + 12' '48 + 8 + 2 + 2' '50 + 13 + 16 + 2'
 '50 + 48 + 12 + 8' '64 + 8 + 2' '64 + 12 + 5 + 5' '50 + 50 + 13 + 3'
 '64 + 8 + 5' '64 + 12 + 12' '50 + 2 + 2' '48 + 2 + 2' '50 + 8 + 2 + 2'
 '48 + 5' '48 + 50 + 2' '108 + 8 + 5 + 2' '13 + 2 + 2' '13 + 2' '12'
 '48 + 5 + 2' '50 + 8 + 2' '64 + 8 + 2 + 2' '48 + 8 + 5' '64 + 8'
 '48 + 5 + 2 + 2' '50 + 2' '64 + 12 + 8 + 5' '64 + 2' '48 + 13 + 13'
 '12MP + 12MP' '64MP + 12MP + 12MP' '50MP + 8MP + 2MP' '50MP + 12MP'
 '48MP + 8MP + 2MP + 2MP' '64MP + 8MP + 2MP' '50MP + 48MP + 12MP + 8MP'
 '50MP + 16MP + 13MP + 2MP' '108MP + 16MP + 8MP' '48MP + 13MP'
 '12MP + 12MP + 12MP' '64MP + 13MP + 12MP' '64MP + 12MP + 8MP'
 '13MP + 5MP' '64MP + 12MP + 8MP + 5MP' '108MP + 8MP + 5MP + 2MP'
 '48MP + 50MP + 2MP' '50MP + 2MP + 2MP' '108MP + 8MP + 2MP'
 '48MP + 5MP + 2MP' '64MP + 5MP + 2MP + 2MP' '64MP + 12MP'
 '48MP + 50MP + 8MP' '50MP + 48MP + 48MP' '13MP + 2MP + 2MP' '13MP + 2MP'
 '8MP + 2MP' '12MP + 12MP + 8MP' '48MP + 2MP + 2MP' '64MP + 13MP + 5MP'
 '48MP + 8MP + 5MP' '12MP + 13MP' '50MP + 13MP + 16MP + 2MP'
 '50MP + 8MP + 2MP + 2MP' '50MP + 2MP' '48MP + 5MP'
 '64MP + 8MP + 2MP + 2MP' '64MP + 8MP + 5MP' '64MP + 8MP + 5MP + 5MP'
 '64MP + 12MP + 5MP + 5MP' '48MP + 8MP + 2MP' '48MP + 2MP'
 '108MP + 12MP + 10MP + 10MP' '64MP + 2MP' '64MP + 8MP'
 '64MP + 8MP + 5MP + 2MP' '50MP + 5MP' '48MP + 8MP + 5MP + 5MP'
 '108MP + 8MP + 2MP + 2MP' '48MP + 5MP + 2MP + 2MP' '13MP'
 '48MP + 8MP + 5MP + 2MP' '13MP + 5MP + 2MP' '8MP'
 '13MP + 5MP + 2MP + 2MP' '13MP + 8MP + 5MP + 2MP'
 '13MP + 8MP + 2MP + 2MP' '12MP + 2MP + 2MP' '13MP + 8MP + 2MP'
 '25MP + 8MP + 5MP' '108+12+12' '48+8+2+2' '12.2+16' '50+20+12+3D'
 '64+8+2+2' '64+12+5+5' '64+12+2+2' '12+12+12' '108+13+5' '48+2+2'
 '48+16+5+2' '13+8+5+2' '13+2+2' '48+5+2' '12+7' '108+10+10+12'
 '108+8+5+2' '50+16+13+2' '50+12+40+3D' '48+50+8+2' '48+8+2' '48+5+2+2'
 '12+12' '50+8+2+2' '50+8+16+2' '48+12+5' '48+48+8+5' '48+8+5'
 '40+40+8+3D' '48+12+13' '13+5+2' '48+8+5+2' '40+20+8+ToF' '12+12+8'
 '48+16+8' '16+8+5' '16+8+8+2' '12+64+12' '64+8+5' '50+40+12+3D'
 '108+48+12+3D' '48+50+2' '64+2+2' '48+13+12+2' '13+2' '48+8+5+5'
 '64+12+12' '108+48+12+0.3' '48+16+2' '48+13+8+2']
battery [3095 5000 4500 5020 4614 2815 3300 5160 2227 4250 4000 4310 6000 3110
 1821 2942 4520 3969 4352 4200 4600 4300 4450 4630 3000 3500 4950 5050
 4820 7000 4230 4470 4100 4080 4400 4350 3885 4850 2800 4510 3174 2691
 4800 4115 3340 4160 3687 4025]
price [ 83916. 100716.  75516.  23436.  67116.  20916.  58716.  27636.  37716.
  16716.  25116.  31836.  15036.  61236.  50316.  11676.  15876.  33516.
  21756.  13356.  19236.  41916.  10836.  44436.  30996.  92316.  14196.
   8316.  38556.  20076. 109116.  36036.  55356.  22596.  30156.  46116.
  26796.  29316.  81396.  12516.  18396.   9156.  32676.  25956.  71316.
  39396.  17556.   9996.  28476.  24276.  10920.  62916.  54516.  35196.
 117516. 167916.  88116.]

In [23]:
# remove MP and gb

In [24]:
df['camera'] = df['camera'].str.replace('MP','')

In [25]:
df['camera'].unique()

array(['12 + 12 + 12', '108 + 10 + 10 + 12', '48 + 50 + 8 + 2',
       '64 + 8 + 5 + 2', '50 + 12.2', '12 + 12', '48 + 8 + 2 + 2',
       '50 + 13 + 16 + 2', '50 + 48 + 12 + 8', '64 + 8 + 2',
       '64 + 12 + 5 + 5', '50 + 50 + 13 + 3', '64 + 8 + 5',
       '64 + 12 + 12', '50 + 2 + 2', '48 + 2 + 2', '50 + 8 + 2 + 2',
       '48 + 5', '48 + 50 + 2', '108 + 8 + 5 + 2', '13 + 2 + 2', '13 + 2',
       '12', '48 + 5 + 2', '50 + 8 + 2', '64 + 8 + 2 + 2', '48 + 8 + 5',
       '64 + 8', '48 + 5 + 2 + 2', '50 + 2', '64 + 12 + 8 + 5', '64 + 2',
       '48 + 13 + 13', '50 + 12', '50 + 16 + 13 + 2', '108 + 16 + 8',
       '48 + 13', '64 + 13 + 12', '64 + 12 + 8', '13 + 5', '108 + 8 + 2',
       '64 + 5 + 2 + 2', '64 + 12', '48 + 50 + 8', '50 + 48 + 48',
       '8 + 2', '12 + 12 + 8', '64 + 13 + 5', '12 + 13', '64 + 8 + 5 + 5',
       '48 + 8 + 2', '48 + 2', '108 + 12 + 10 + 10', '50 + 5',
       '48 + 8 + 5 + 5', '108 + 8 + 2 + 2', '13', '48 + 8 + 5 + 2',
       '13 + 5 + 2', '8', '13 + 5 + 2 + 2', '13 + 8 + 5 + 2',
       '13 + 8 + 2 + 2', '12 + 2 + 2', '13 + 8 + 2', '25 + 8 + 5',
       '108+12+12', '48+8+2+2', '12.2+16', '50+20+12+3D', '64+8+2+2',
       '64+12+5+5', '64+12+2+2', '12+12+12', '108+13+5', '48+2+2',
       '48+16+5+2', '13+8+5+2', '13+2+2', '48+5+2', '12+7',
       '108+10+10+12', '108+8+5+2', '50+16+13+2', '50+12+40+3D',
       '48+50+8+2', '48+8+2', '48+5+2+2', '12+12', '50+8+2+2',
       '50+8+16+2', '48+12+5', '48+48+8+5', '48+8+5', '40+40+8+3D',
       '48+12+13', '13+5+2', '48+8+5+2', '40+20+8+ToF', '12+12+8',
       '48+16+8', '16+8+5', '16+8+8+2', '12+64+12', '64+8+5',
       '50+40+12+3D', '108+48+12+3D', '48+50+2', '64+2+2', '48+13+12+2',
       '13+2', '48+8+5+5', '64+12+12', '108+48+12+0.3', '48+16+2',
       '48+13+8+2'], dtype=object)

In [26]:
df.columns

Index(['Brand', 'Model', 'Storage ', 'RAM ', 'screen_size', 'camera',
       'battery', 'price'],
      dtype='object')

In [27]:
df.columns=df.columns.str.replace(' ','')

In [28]:
df['RAM'] = df['RAM'].str.replace(r'\D', '', regex=True)

In [29]:
df['RAM'].unique()

array(['6', '12', '8', '4', '3', '2', '5', '16'], dtype=object)

In [30]:
df['Storage'] = df['Storage'].str.replace(r'\D', '', regex=True)

In [31]:
df['Storage'].unique()

array(['128', '256', '64', '32', '512'], dtype=object)

In [32]:
for col in df.columns:
    print(df[col].name,df[col].unique())

Brand ['Apple' 'Samsung' 'OnePlus' 'Xiaomi' 'Google' 'Oppo' 'Vivo' 'Realme'
 'Motorola' 'Nokia' 'Sony' 'LG' 'Asus' 'Blackberry' 'CAT' 'Huawei']
Model ['iPhone 13 Pro' 'Galaxy S21 Ultra' '9 Pro' 'Redmi Note 10 Pro' 'Pixel 6'
 'iPhone 13' 'Galaxy Z Flip3' 'Poco X3 Pro' 'Reno6 Pro+ 5G' 'X70 Pro+'
 'Nord CE 5G' 'Galaxy A52s 5G' 'GT Neo2' 'iPhone 12 Mini' 'Find X3 Pro'
 'Mi 11 Lite 5G NE' 'Galaxy S21' 'Y20s (G)' '8s 5G' 'A94' 'Redmi 10 Prime'
 'Galaxy A22 5G' 'Narzo 50 Pro 5G' '9' 'Redmi Note 10 Pro Max' 'iPhone 11'
 'Galaxy A03s' 'A74 5G' 'Y12s (2021)' '9i' 'Galaxy M52 5G' 'Redmi 10'
 'iPhone SE (2nd Gen)' 'A53s' 'Y33s' 'C25s' 'Galaxy A22 4G' 'Nord 2 5G'
 'Poco M3 Pro 5G' 'iPhone XR' 'A16' 'C21Y' 'Galaxy F22' 'F19 Pro+ 5G'
 'Mi 11X' 'V21e' '8 5G' 'Galaxy M12' 'A16s' 'Redmi 9 Power'
 'iPhone 11 Pro Max' 'Y20G' 'Narzo 50i' 'A54' 'Redmi 9T'
 'iPhone 13 Pro Max' 'Y33' 'Galaxy A72' 'Reno6 Pro 5G' 'iPhone SE (2020)'
 'Y53s' '7i' 'Galaxy A52 5G' 'F19 Pro' 'Redmi Note 10S' 'Y21s'
 'Mi 11 Lite 5G' 'X60 Pro' 'Narzo 50A' 'Nord 2' 'Poco X4 Pro'
 'GT Master Edition' 'Reno6 Pro+' 'Edge 20 Pro' 'XR20' 'Xperia 5 III'
 'Wing' 'Zenfone 8 Flip' 'KEY2 LE' 'F19 Pro+' 'Moto G60' '5.4' 'K92 5G'
 'Zenfone 8' 'KEY2' 'S42' 'Galaxy Z Flip 3' 'Mi 11 Ultra' 'Y12A'
 'C20 Plus' 'Galaxy S20 FE 5G' 'Moto E7i Power' 'ROG Phone 5' 'Velvet 5G'
 'Evolve' 'Reno 6 Pro+' 'Moto G50' 'G20' 'Galaxy M32' '8i' 'C30'
 'Galaxy A32' 'Moto G Stylus 5G' 'Galaxy A21s' 'Y12s' 'F19s'
 'Narzo 30 Pro 5G' 'Moto G Pure' 'Reno6 Z 5G' 'Galaxy S21 Ultra 5G' 'G50'
 'Redmi 9 Activ' 'A54s' 'Galaxy M22' 'Moto G Power 2022' 'Poco X3 GT'
 'Galaxy F42 5G' 'Edge 20 Fusion' 'C21' 'V21 5G' 'Redmi Note 9 Pro Max'
 'Moto G Power 2021' 'V21e 5G' 'A53s 5G' 'Mi 11 Lite NE'
 'Moto G Stylus 2021' 'A54s 5G' 'Galaxy F41' 'Galaxy M52' 'Moto G50s'
 'Galaxy A13' 'Galaxy A42 5G' 'Moto G9 Power Lite' 'Galaxy A22' 'A74'
 'Y72 5G' 'Mi 10i' 'Narzo 30 Pro' 'Galaxy M62' 'Galaxy A12' 'A15s'
 'C11 2021' 'Redmi 9i' 'A53' '7 5G' 'Galaxy M31s' 'A15' 'G10' 'C25' 'X20'
 'Y20s G' 'Reno 6 Pro 5G' 'Y31s' 'Galaxy A32 5G' 'Redmi Note 10' 'V20 SE'
 '3.4' 'C20' '1.4' 'Galaxy A02s' 'Y51A' 'Narzo 20' '5.3' 'Redmi Note 8'
 'Galaxy M11' 'Y20s' 'C11' '2.4' 'Redmi 9' 'Galaxy A11' 'A12' 'C15'
 '3.1 Plus' 'Redmi Note 7' 'A31' 'Y15' 'Narzo 10A' 'Galaxy A30s'
 'Galaxy Note 20 Ultra' 'Pixel 5' 'Mate 40 Pro' 'Nord N10 5G'
 'Reno 5 Pro 5G' 'Galaxy A71' '8.3 5G' 'Mi 11' 'Moto G Power (2021)'
 'Pixel 4a 5G' 'Nova 8 Pro 5G' 'Galaxy A52' '8T' 'G50 5G' 'Find X3 Neo 5G'
 'P40 Pro' 'Moto G Stylus (2021)' 'Pixel 4' 'iPhone 12' 'A94 5G'
 'Nova 9 Pro 5G' 'Galaxy S10 Lite' '8 Pro' '7.2' 'Mi 10T Pro'
 'Mate 30 Pro 5G' 'Galaxy M51' 'Reno4 Pro 5G' 'Moto G9 Plus'
 'iPhone XS Max' 'Redmi Note 9S' 'A92' 'P30 Pro' '7 Pro' '6.2'
 'Mi 10T Lite' 'iPhone 8 Plus' 'Moto G8 Power' 'Nova 7i' 'Galaxy S21+ 5G'
 'Mi 11 Lite' 'Nord' 'Moto G10' 'P40 Pro+' 'Galaxy Note20 5G' 'Poco M3'
 'Galaxy S20 Ultra 5G' 'iPhone 12 mini' 'Moto G9 Power'
 'Galaxy Z Fold2 5G' 'Mi 10T Pro 5G' 'Redmi 9C' 'Y7p' 'iPhone 12 Pro' '7'
 'A93' 'Moto G Pro' 'P30 Lite' 'Mi 10 Lite 5G' 'iPhone 12 Pro Max' 'Reno3']
Storage ['128' '256' '64' '32' '512']
RAM ['6' '12' '8' '4' '3' '2' '5' '16']
screen_size ['6.1' '6.8' '6.7' '6.67' '6.4' '6.55' '6.78' '6.43' '6.5' '6.62' '5.4'
 '6.2' '6.51' '6.6' '4.7' '6.58' '6.52' '6.44' '6.53' '6.56' '6.8 + 3.9'
 '4.5' '6.39' '5.9' '5.5' '6.81' '5.99' '6.82' '6.3' '6.22' '6' '6.35'
 '6.9' '6.76' '6.49' '6.72' '5.7' '6.47' '7.6 (unfolded)' '6.15' '6.57']
camera ['12 + 12 + 12' '108 + 10 + 10 + 12' '48 + 50 + 8 + 2' '64 + 8 + 5 + 2'
 '50 + 12.2' '12 + 12' '48 + 8 + 2 + 2' '50 + 13 + 16 + 2'
 '50 + 48 + 12 + 8' '64 + 8 + 2' '64 + 12 + 5 + 5' '50 + 50 + 13 + 3'
 '64 + 8 + 5' '64 + 12 + 12' '50 + 2 + 2' '48 + 2 + 2' '50 + 8 + 2 + 2'
 '48 + 5' '48 + 50 + 2' '108 + 8 + 5 + 2' '13 + 2 + 2' '13 + 2' '12'
 '48 + 5 + 2' '50 + 8 + 2' '64 + 8 + 2 + 2' '48 + 8 + 5' '64 + 8'
 '48 + 5 + 2 + 2' '50 + 2' '64 + 12 + 8 + 5' '64 + 2' '48 + 13 + 13'
 '50 + 12' '50 + 16 + 13 + 2' '108 + 16 + 8' '48 + 13' '64 + 13 + 12'
 '64 + 12 + 8' '13 + 5' '108 + 8 + 2' '64 + 5 + 2 + 2' '64 + 12'
 '48 + 50 + 8' '50 + 48 + 48' '8 + 2' '12 + 12 + 8' '64 + 13 + 5'
 '12 + 13' '64 + 8 + 5 + 5' '48 + 8 + 2' '48 + 2' '108 + 12 + 10 + 10'
 '50 + 5' '48 + 8 + 5 + 5' '108 + 8 + 2 + 2' '13' '48 + 8 + 5 + 2'
 '13 + 5 + 2' '8' '13 + 5 + 2 + 2' '13 + 8 + 5 + 2' '13 + 8 + 2 + 2'
 '12 + 2 + 2' '13 + 8 + 2' '25 + 8 + 5' '108+12+12' '48+8+2+2' '12.2+16'
 '50+20+12+3D' '64+8+2+2' '64+12+5+5' '64+12+2+2' '12+12+12' '108+13+5'
 '48+2+2' '48+16+5+2' '13+8+5+2' '13+2+2' '48+5+2' '12+7' '108+10+10+12'
 '108+8+5+2' '50+16+13+2' '50+12+40+3D' '48+50+8+2' '48+8+2' '48+5+2+2'
 '12+12' '50+8+2+2' '50+8+16+2' '48+12+5' '48+48+8+5' '48+8+5'
 '40+40+8+3D' '48+12+13' '13+5+2' '48+8+5+2' '40+20+8+ToF' '12+12+8'
 '48+16+8' '16+8+5' '16+8+8+2' '12+64+12' '64+8+5' '50+40+12+3D'
 '108+48+12+3D' '48+50+2' '64+2+2' '48+13+12+2' '13+2' '48+8+5+5'
 '64+12+12' '108+48+12+0.3' '48+16+2' '48+13+8+2']
battery [3095 5000 4500 5020 4614 2815 3300 5160 2227 4250 4000 4310 6000 3110
 1821 2942 4520 3969 4352 4200 4600 4300 4450 4630 3000 3500 4950 5050
 4820 7000 4230 4470 4100 4080 4400 4350 3885 4850 2800 4510 3174 2691
 4800 4115 3340 4160 3687 4025]
price [ 83916. 100716.  75516.  23436.  67116.  20916.  58716.  27636.  37716.
  16716.  25116.  31836.  15036.  61236.  50316.  11676.  15876.  33516.
  21756.  13356.  19236.  41916.  10836.  44436.  30996.  92316.  14196.
   8316.  38556.  20076. 109116.  36036.  55356.  22596.  30156.  46116.
  26796.  29316.  81396.  12516.  18396.   9156.  32676.  25956.  71316.
  39396.  17556.   9996.  28476.  24276.  10920.  62916.  54516.  35196.
 117516. 167916.  88116.]

In [33]:
#remove spaces in camera

In [34]:
df['camera'] = df['camera'].str.replace(' ','')

In [35]:
df['camera'].unique()

array(['12+12+12', '108+10+10+12', '48+50+8+2', '64+8+5+2', '50+12.2',
       '12+12', '48+8+2+2', '50+13+16+2', '50+48+12+8', '64+8+2',
       '64+12+5+5', '50+50+13+3', '64+8+5', '64+12+12', '50+2+2',
       '48+2+2', '50+8+2+2', '48+5', '48+50+2', '108+8+5+2', '13+2+2',
       '13+2', '12', '48+5+2', '50+8+2', '64+8+2+2', '48+8+5', '64+8',
       '48+5+2+2', '50+2', '64+12+8+5', '64+2', '48+13+13', '50+12',
       '50+16+13+2', '108+16+8', '48+13', '64+13+12', '64+12+8', '13+5',
       '108+8+2', '64+5+2+2', '64+12', '48+50+8', '50+48+48', '8+2',
       '12+12+8', '64+13+5', '12+13', '64+8+5+5', '48+8+2', '48+2',
       '108+12+10+10', '50+5', '48+8+5+5', '108+8+2+2', '13', '48+8+5+2',
       '13+5+2', '8', '13+5+2+2', '13+8+5+2', '13+8+2+2', '12+2+2',
       '13+8+2', '25+8+5', '108+12+12', '12.2+16', '50+20+12+3D',
       '64+12+2+2', '108+13+5', '48+16+5+2', '12+7', '50+12+40+3D',
       '50+8+16+2', '48+12+5', '48+48+8+5', '40+40+8+3D', '48+12+13',
       '40+20+8+ToF', '48+16+8', '16+8+5', '16+8+8+2', '12+64+12',
       '50+40+12+3D', '108+48+12+3D', '64+2+2', '48+13+12+2',
       '108+48+12+0.3', '48+16+2', '48+13+8+2'], dtype=object)

In [36]:
df.head(10)

,Brand,Model,Storage,RAM,screen_size,camera,battery,price
0,Apple,iPhone 13 Pro,128,6,6.1,12+12+12,3095,83916.0
1,Samsung,Galaxy S21 Ultra,256,12,6.8,108+10+10+12,5000,100716.0
2,OnePlus,9 Pro,128,8,6.7,48+50+8+2,4500,75516.0
3,Xiaomi,Redmi Note 10 Pro,128,6,6.67,64+8+5+2,5020,23436.0
4,Google,Pixel 6,128,8,6.4,50+12.2,4614,67116.0
5,Apple,iPhone 13,128,4,6.1,12+12,2815,67116.0
6,Samsung,Galaxy Z Flip3,256,8,6.7,12+12,3300,83916.0
7,Xiaomi,Poco X3 Pro,128,6,6.67,48+8+2+2,5160,20916.0
8,Oppo,Reno6 Pro+ 5G,128,8,6.55,50+13+16+2,4500,58716.0
9,Vivo,X70 Pro+,256,12,6.78,50+48+12+8,4500,100716.0

In [37]:
# from category_encoders import TargetEncoder
# target_encoder = TargetEncoder()
# df['Model'] = target_encoder.fit_transform(df['Model'], df['price']).round(2)

In [38]:
df.head(2)

,Brand,Model,Storage,RAM,screen_size,camera,battery,price
0,Apple,iPhone 13 Pro,128,6,6.1,12+12+12,3095,83916.0
1,Samsung,Galaxy S21 Ultra,256,12,6.8,108+10+10+12,5000,100716.0

# target encoding was not good bcoz i was getting some 40754.09 this type of value

In [39]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [40]:
le = LabelEncoder()
stc = StandardScaler()

In [41]:
cat_cols = []
num_cols = []
for col in df.columns:
    if df[col].dtype == 'object':
        cat_cols.append(col)
    else:
        num_cols.append(col)

print(cat_cols)
print(num_cols)

['Brand', 'Model', 'Storage', 'RAM', 'screen_size', 'camera']
['battery', 'price']

In [42]:
num_cols.remove('price')

In [43]:
num_cols

['battery']

In [44]:
for col in df[cat_cols]:
    df[col] = le.fit_transform(df[[col]])
df.head(2)

/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/preprocessing/_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   Brand  Model  Storage  RAM  screen_size  camera  battery     price
0      0    232        0    6            8      12     3095   83916.0
1     12    100        1    0           35       0     5000  100716.0

In [45]:
df[num_cols] = stc.fit_transform(df[num_cols])

In [46]:
df.head(2)

   Brand  Model  Storage  RAM  screen_size  camera   battery     price
0      0    232        0    6            8      12 -1.986246   83916.0
1     12    100        1    0           35       0  0.406327  100716.0

# data split

In [47]:
from sklearn.model_selection import train_test_split

In [48]:
X=df.drop('price',axis=1)

In [49]:
y=df['price']

In [50]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=21)

# Model Building

In [51]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor

In [52]:
models = {
    "lr":LinearRegression(),
    "rfr":RandomForestRegressor(),
    "dtr":DecisionTreeRegressor()
}

In [53]:
grid_param = {
    "lr":{
        "fit_intercept":[False,True]
    },
    "rfr":{
        "n_estimators":[15,17,19],
        "criterion": ["squared_error", "absolute_error", "friedman_mse", "poisson"],
        "bootstrap" : [True,False],
        "oob_score" : [True,False]

    },
    "dtr":{
        "criterion": ["squared_error", "absolute_error", "friedman_mse", "poisson"],
        "splitter":["best","random"]
    }
}

In [54]:
from sklearn.model_selection import GridSearchCV

In [58]:
best_score = -float("inf")
best_model = None
best_model_name = None


for model_name,model in models.items():
    models_gdr = GridSearchCV(model,param_grid=grid_param[model_name],cv=5)
    models_gdr.fit(X_train,y_train)
    print("Best parameters: ", models_gdr.best_params_)
    print("best score: ", models_gdr.best_score_)
    print("best estimator: ", models_gdr.best_estimator_)

    if models_gdr.best_score_>best_score:
        best_score = models_gdr.best_score_
        best_model = models_gdr.best_estimator_
        best_model_name = model_name


print("Best Model Type:", best_model_name)
print("Best Model Score:", best_score)
print("Best Model:", best_model)

Best parameters:  {'fit_intercept': True}
best score:  0.4257551928113267
best estimator:  LinearRegression()

/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py:615: UserWarning: Some inputs do not have OOB scores. This probably means too few trees were used to compute any reliable OOB estimates.
  warn(

Best parameters:  {'bootstrap': True, 'criterion': 'absolute_error', 'n_estimators': 17, 'oob_score': False}
best score:  0.8460637419923771
best estimator:  RandomForestRegressor(criterion='absolute_error', n_estimators=17)
Best parameters:  {'criterion': 'absolute_error', 'splitter': 'best'}
best score:  0.719461577466457
best estimator:  DecisionTreeRegressor(criterion='absolute_error')
Best Model Type: rfr
Best Model Score: 0.8460637419923771
Best Model: RandomForestRegressor(criterion='absolute_error', n_estimators=17)

/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/model_selection/_validation.py:540: FitFailedWarning:
60 fits failed out of a total of 240.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
60 fits failed with the following error:
Traceback (most recent call last):
  File "/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/model_selection/_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/base.py", line 1473, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/ensemble/_forest.py", line 450, in fit
    raise ValueError("Out of bag estimation only available if bootstrap=True")
ValueError: Out of bag estimation only available if bootstrap=True

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/model_selection/_search.py:1103: UserWarning: One or more of the test scores are non-finite: [0.83300089 0.81959479 0.80927954 0.82419531 0.82782971 0.81971781
 0.83785488 0.80966517 0.81302019 0.84606374 0.83084971 0.83810123
 0.83261105 0.80206869 0.83293064 0.8018513  0.83194192 0.8295918
 0.80521226 0.78594531 0.78851366 0.77202077 0.7807576  0.76328147
        nan 0.66695463        nan 0.70534682        nan 0.69030094
        nan 0.7412296         nan 0.74783194        nan 0.7378995
        nan 0.64667013        nan 0.66827188        nan 0.68910733
        nan 0.70302164        nan 0.705999          nan 0.71093949]
  warnings.warn(

In [60]:
best_model.predict([[0,232,0,6,8,12,-1.986246]])

/Applications/anaconda3/envs/95m/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([76751.29411765])